.panel-default .panel-heading, .panel-primary .panel-heading, .panel-success .panel-heading, .panel-info .panel-heading, .panel-warning .panel-heading, .panel-danger .panel-heading {
  background: white;
}

.search-label{
  text-align: right;
}

.search-label label{
  line-height: 30px;
}

.panel .panel-footer{
  background: white;
  text-align: right;
}

#science-technology-tbl th{
  vertical-align: middle;
}

#science-technology-tbl_filter{
  display: none;
}

.btn-violet{
  background: #d05f5f;
  color:white;
}

.btn-violet:hover{
  color:white;
}

.btn-blue{
  background: #0ab5f7;
  color:white;
}

.btn-blue:hover{
  color:white;
}

#science-technology-tbl .btn {
  margin: 4%;
}

.btn-brown{
  background: #797775;
  color:white;
}

.btn-brown:hover{
  color:white;
}

#modal-view-detail b, em, .style-value {
  font-size: 14px;
}
