.error{
	color:red;
}

#science-technology-tbl th, #topic-tbl th{
	text-align: center;
	vertical-align: middle;
}

.btn-function {
	margin: 3%;
	display: inline;
}

.text_value{
	text-align: justify;
  text-justify: inter-word;
}

.btn-right{
	float: right;
	margin-right: 3%
}

#register-mission-btn{
	margin-left: 10px;
}

#science-technology-tbl {
	width: 100% !important;
}

#index-column {
	width: 4% !important;
}
#code-column {
	width: 15% !important;
}

#value-column {
	width: 27% !important;
}

#type-column {
	width: 12% !important;
}

#round-column {
	width: 12% !important;
}

#status-column {
	width: 15% !important;
}

#action-column{
	width: 15% !important;
}


.custom-footer {
    background: white !important;
}
